build/
dist/
*.egg-info/
taivision/version.py
*/**/__pycache__
*/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/*~
*~
docs/build
.coverage
htmlcov
.*.swp
*.so*
*.dylib*
*/*.so*
*/*.dylib*
*.swp
*.swo
gen.yml
.mypy_cache
.vscode/
.idea/
.history/
*.orig
*-checkpoint.ipynb
*.venv
#my ignore
.DS_Store
__pycache__
/data
tests/test_examples/ucf101_test/train_1/
tests/test_examples/ucf101_test/Conv3D_ckpt/
